/* color schemes  */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
:root {
  --pri-green: #1db954;
  --pri-black: #121212;
  --pri-grey: #535353;
  --sec-black: #212121;
  --sec-grey: #b3b3b3;
  --pri-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--pri-white);
}
body {
  background-color: var(--pri-black);
  color: white;
}



/* main layout  */
.wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.sidebar {
  width:200px;
  height:100vh;
  background-color: #212121;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2px;
  padding-top: 50px;
  font-size: 20px;
  .nav-links {

    color: var(--pri-white);
    text-decoration: none;
    width: 90%;
    display: flex;
    border-radius:10px;
    border:none;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    padding:8px 0px;
  }
  
}

.nav-links:hover {
  background-color: #161616;
  transition: .5s ease-in;
}

//this will compress the overflow name and description 
.card-container {
  display: grid;
  gap:10px;


 }

.compress {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.demo-song-section {
  .header {
    display: flex;
    justify-content: space-between;
  }
 
}
.footer {
  border-top: 1px solid var(--sec-grey);
  background-color: #161616;
  color: #aaaaaa;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

.nav-links {
  display: flex;
  gap: 10px;
}
.link {
  color: var(--pri-white);
}

/* card css  */



.latest-album-release-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}



.song-table {
  width: 100%;
  border-collapse: collapse;
  border-color: red;
  thead tr {
    background-color: red;
  }
  th,
  td {
    padding: 15px;
    text-align: left;
  }

  .song-card {
    display: grid;
    padding: 5px 20px;
    background-color: var(--sec-black);
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 10px;

    td:nth-child(1) {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 6px;
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 2px;
      }
    }
  }
}



// css file for song list page 

table.song-list {
  position: relative;
  top:-50px;
  background-color: #00000069;
  width: 100%;
  tr th {
    font-weight: 400;
    color:var(--sec-grey);
  }
}





