
.main-layout {
    display: flex;

}
.right-side-layout  {
    width: calc(100% - 200px);

    display: flex;
    justify-content: center;
    background-color: #000;
    align-items: center;
    main {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;        border-radius: 10px;
        height: auto;
        min-width: calc(100% - 20px);
        background-color: #121212;
        padding: 10px;
        height: calc(100vh - 20px);
        max-height: 100vh;
        overflow: auto;
    }

    
}